.tag {
  padding: 0.2rem 0.8rem;
  border: 2px solid;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.8rem;
  background-color: #ccc;
}
.tag.tag--C8E8FF {
  background-color: #c8e8ff;
  border-color: #18547e;
  color: #18547e;
}
.tag.tag--B2419A {
  background-color: #b2419a;
  border-color: #792066;
  color: #fff;
}
.tag.tag--EDB7B7 {
  background-color: #edb7b7;
  border-color: #903b3b;
  color: #903b3b;
}
.tag.tag--4654B2 {
  background-color: #4654b2;
  border-color: #26327f;
  color: #fff;
}
