.tagheader {
  margin-left: 1.2rem;
  color: #454566;
  margin-top: 5rem;
}

.taglist {
  display: flex;
  padding: 1.2rem;
  margin: 0 1.2rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 14px -9px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 14px -9px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  max-width: 50rem;
}
